name: Deploy Model to EC2

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/agronexus-plant-disease-prediction-model
            git pull origin main
            docker build -t agronexus-model .
            docker stop fastapi-container || true
            docker rm fastapi-container || true
            docker run -d -p 8000:8000 --name fastapi-container agronexus-model
            sudo systemctl restart nginx